:root {
    --primary-color: #096759;
    --primary-color-100: #f1fbf8;
    --primary-color-200: #c2d9d4;
    --primary-color-300: #8ebab0;
    --primary-color-400: #589c8d;
    --primary-color-500: #297b6c;
    --primary-color-600: #0c594d;
    --primary-color-700: #0a372f;
    --primary-color-800: #061814;
    --primary-color-900: #000202;
    --secondary-color: #f29e4c;
    --secondary-color-100: #fff6ec;
    --secondary-color-200: #eaceb6;
    --secondary-color-300: #d6a477;
    --secondary-color-400: #c17a33;
    --secondary-color-500: #a25500;
    --secondary-color-600: #793800;
    --secondary-color-700: #4c2300;
    --secondary-color-800: #220f00;
    --secondary-color-900: #040100;
    --accent-color: #d72638;
    --accent-color-100: #fff2f0;
    --accent-color-200: #fdc3bf;
    --accent-color-300: #f58e8a;
    --accent-color-400: #e75356;
    --accent-color-500: #c80c2c;
    --accent-color-600: #980015;
    --accent-color-700: #60000d;
    --accent-color-800: #2c0306;
    --accent-color-900: #060000;
    --neutral1-color: #fcddf2;
    --neutral1-color-100: #fbf7fa;
    --neutral1-color-200: #dad0d7;
    --neutral1-color-300: #bba9b5;
    --neutral1-color-400: #9d8495;
    --neutral1-color-500: #7d6275;
    --neutral1-color-600: #5b4454;
    --neutral1-color-700: #382a34;
    --neutral1-color-800: #191217;
    --neutral1-color-900: #020102;
    --neutral2-color: #c8eaf9;
    --neutral2-color-100: #f5f9fb;
    --neutral2-color-200: #cbd5da;
    --neutral2-color-300: #a0b3bc;
    --neutral2-color-400: #76929e;
    --neutral2-color-500: #52717e;
    --neutral2-color-600: #37515c;
    --neutral2-color-700: #213239;
    --neutral2-color-800: #0e1619;
    --neutral2-color-900: #010202;
}
